body {
    background-color: #2A2B2A;
}

.form-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center; 
    color:white;

}