
.create-blog-post-form {
    width: 200px;
    text-align: center; 
    color:white;
    height: 146px;
    border: 1px solid rgba(255, 255, 255, 0.925);
    border-spacing: 15px;
    display:inline-table;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
