<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>
    <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
    Hello world!
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

    <div id="create-blog-post-form">
        <form th:action="@{/home}" method="post">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" size="10" />
            <label for="content">Content:</label>
            <textarea type="text" id="content" name="content" size="50"></textarea>
            <button type="submit" id="buttonSubmission">Submit</button>
        </form>
    </div>
</body>
</html>