<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>

</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/post">Blog</a></li>
          </ul>
    </nav>
    
    <form th:action="@{/post}" th:object="${post}" method="post">
        <label for="title">Title</label>
        <input type="text" th:field="*{title}" id="title" placeholder="Title">
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
        <label for="content">Content</label>
        <input type="text" th:field="*{content}" id="content" placeholder="content">
        <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
        
        <input type="submit" value="Submit">   
    </form>

    <tr th:each="post : ${posts}">
        <td><a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
    </tr>

</body>
</html>